.weather-data {
    padding: 40px 0;
    .container {
        display: flex;
        justify-content: space-between;
    }
    &__next-days.next-days {
        flex-basis: 28%;
        background-color: #fff;
    }
    .next-days {
        &__title {
            background-color: #f9f9f9;
            width: 100%;
            padding: 15px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        &__weather {
            margin-bottom: 20px;
            padding: 0 15px;
            text-align: center;
            &:last-child {
                margin: 0;
            }
        }
    }
    &__next-hours {
        flex-basis: 28%;
        background-color: #fff;
    }
    &__current {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 40%;
    }
    &__data.data {
        padding: 50px 20px;
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        min-height: 200px;
    }
    .data {
        &__icon {
            opacity: 1;
            width: 50%;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            background-position: 50%;
            background-repeat: no-repeat;
        }
        &__icon.fade-out {
            opacity: 0;
            transition: none;
        }
        &__info {
            width: 50%;
            opacity: 1;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        &__info.fade-out {
            opacity: 0;
            transition: none;
        }
    }
    &__city.city {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 50px 0;
        text-transform: capitalize;
    }
    .city {
        &__content {
            display: inline-block;
            opacity: 1;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        &__content.fade-out {
            opacity: 0;
            transition: none;
        }
    }
}
