.weather-data {
    padding: 40px 0;
    .container {
        display: flex;
        justify-content: space-between;
    }
    &__next.next {
        flex-basis: 28%;
        background-color: #fff;
    }
    .next {
        &__title {
            background-color: #f9f9f9;
            width: 100%;
            padding: 15px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 20px;
        }
        &__weather {
            margin-bottom: 20px;
            padding: 0 15px;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
        }
        &__data {
            width: 50%;
            margin-bottom: 10px;
        }
        &__icon {
            width: 50%;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 80px auto;
        }
        &__weather-name {
            width: 100%;
        }
    }
    &__next-hours {
        flex-basis: 28%;
        background-color: #fff;
    }
    &__current {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 40%;
    }
    &__data.data {
        padding: 50px 20px;
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        min-height: 200px;
    }
    .data {
        &__icon {
            opacity: 1;
            width: 50%;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            background-position: 50%;
            background-repeat: no-repeat;
        }
        &__icon.fade-out {
            opacity: 0;
            transition: none;
        }
        &__info {
            width: 50%;
            opacity: 1;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        &__info.fade-out {
            opacity: 0;
            transition: none;
        }
    }
    &__city.city {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 50px 0;
        text-transform: capitalize;
    }
    .city {
        &__content {
            display: inline-block;
            opacity: 1;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        &__content.fade-out {
            opacity: 0;
            transition: none;
        }
    }
}

@media(max-width: 900px) {
    .weather-data .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .weather-data {
        width: 80%;
        margin: 0 auto;
    }
    .weather-data__current {
        order: 1;
        margin-bottom: 20px;
        width: 100%;
        flex-basis: 100%;
    }
    .weather-data__next.next {
        order: 2;
        margin-bottom: 20px;
        flex-basis: 50%;
        flex-basis: calc(50% - 10px);
    }
    .weather-data__next-hours {
        order: 2;
        margin-bottom: 20px;
        flex-basis: 50%;
        flex-basis: calc(50% - 10px);
    }
}