$themeColor: #eeeeee;
$breakPoint1: 1180px;
$breakPoint2: 1050px;

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

body {
    background-color:$themeColor;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    margin: 0 auto;
    @media(min-width: $breakPoint1) {
        max-width: 1140px;
    }
}
.header {
    height: 240px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.button {

}

.button.button--submit {

}